<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>868185640214-igodl3jnohim12d3oc6mk9nr35f2rcel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868185640214-igodl3jnohim12d3oc6mk9nr35f2rcel</string>
	<key>API_KEY</key>
	<string>AIzaSyDc9bNuRwpJIzxuVqLDURB5mZuzjp6eyso</string>
	<key>GCM_SENDER_ID</key>
	<string>868185640214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stack.Sparrow</string>
	<key>PROJECT_ID</key>
	<string>bank-a3d3d</string>
	<key>STORAGE_BUCKET</key>
	<string>bank-a3d3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868185640214:ios:16e9f362aa4f6ae3</string>
	<key>DATABASE_URL</key>
	<string>https://bank-a3d3d.firebaseio.com</string>
</dict>
</plist>